// main: ../main.scss
/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
  background-color: #14181C !important;
  margin: 0;

  img {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  // &:before {
  //   content: '';
  //   background: color-mix(in srgb, var(--background-color), transparent 50%);
  //   position: absolute;
  //   inset: 0;
  //   z-index: 2;
  // }
  .container {
    position: relative;
    z-index: 3;
  }

  h3 {
    font-size: 40px;
    font-family: 'bree serif', sans-serif;
    font-weight: 500;
    color: #FAF9F5;
  }

  p {
    color: var(--default-color);
  }

  .pill-toggle {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    background-color: #FAF9F5;
    border-radius: 50px;
    padding: 0px;
    position: relative;
    width: 400px;
    height: 40px;
    overflow: hidden;
  }

  .cta-btn,
  .cta-btn-2 {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 40px;
    z-index: 1;
    transition: color 0.3s ease;
  }

  .cta-btn {
    color: #000;
    border-radius: 50px 0px 0px 50px;
  }

  .cta-btn-2 {
    color: #000;
    background-color: transparent;
  }

  .active {
    color: #fff;
    background-color: #ff5722;
  }

  .pill-toggle a:not(.active):hover {
    color: #ff5722;
  }

  .container {
    padding-left: 50px;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
    color: #fff;
  }

  .stat {
    padding: 20px 80px 0 10px;
    border-left: solid 1.5px rgba(112, 112, 112, 0.3);

    h3 {
      font-family: 'montserrat', sans-serif;
      font-size: 50px;
      font-weight: 600;
    }

    p {
      font-family: 'montserrat', sans-serif;
      font-size: 16px;
    }
  }

  #before-stats {
    display: flex;
    /* Visible by default */
  }

  #after-stats {
    display: none;
    /* Hidden by default */
  }

  @media (max-width: 768px) {
    .stats {
      flex-direction: column;
      margin-top: 40px;
    }

    .pill-toggle {
      width: 100%;
    }

    .container {
      padding-left: 15px;
    }

    h3 {
      font-size: 30px;
    }

    .stat {
      margin-top: 40px;
      padding: 0px 50px 0px 10px !important;

      p {
        margin-bottom: 0px;
        padding-bottom: 0;
      }

      h3 {
        margin-top: 0px;
        padding-top: 0px;
      }
    }
  }
}