// main: ../main.scss
/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  /* Ensure no overflow */
}

.clients .container {
  padding-left: 50px;
}

@media (max-width: 768px) {
  .clients .container {
    padding-left: 0px;
  }
}

.clients .client-slider-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: scroll 60s linear infinite;
  gap: 120px;
}

.clients .client-slider-1 img {
  max-height: 80px;
  max-width: 120px;
  object-fit: contain;
  height: auto;
  width: auto;
  filter: grayscale(100%);
}

.clients .client-slider-1 img:hover {
  transform: scale(1.1);
}

.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10vw;
  z-index: 10;
}

.mask.left-1 {
  left: 0;
  background: linear-gradient(to right, rgba(250, 249, 245, 1) 0%, rgba(250, 249, 245, 1) 80%, rgba(250, 249, 245, 0) 100%);
}

.mask.right-1 {
  right: 0;
  background: linear-gradient(to left, rgba(250, 249, 245, 1) 0%, rgba(250, 249, 245, 0) 100%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .clients .client-slider-1 {
    animation: scroll-2 30s linear infinite;
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500%);
  }
}