/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
  margin-left: 1%;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
    margin-left: 1%;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero.scss';
@import './sections/_clients.scss';
@import './sections/_faq.scss';
@import './sections/_cards.scss';
@import './sections/_call-to-action.scss';
@import './sections/_cards-2.scss';
@import './sections/_faq-2.scss';