// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  margin-top: 50px;
  background-color: var(--accent-color);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;

  .container {
    padding: 0;
    margin: 0;
  }

  .footer-left {
    background-color: #14181C;
    width: 50vw;
    margin: 0;
    padding-top: 30px;
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 50px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;

    .logo-text-footer {
      font-size: 30px;
      color: var(--background-color);
      font-family: 'bree serif', sans-serif;
      padding-left: 50px;
    }

    .social-media-footer {
      padding-top: 60px;
      color: var(--background-color);
      font-family: 'montserrat', sans-serif;
      font-size: 20px;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 50px;

      .social-links {
        margin-top: 0px;
        padding: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid var(--background-color);
          font-size: 16px;
          color: var(--background-color);
          margin-right: 10px;
          transition: 0.3s;

          &:hover {
            color: var(--accent-color);
            border-color: var(--accent-color);
          }
        }
      }
    }

    .services-and-contact {
      margin-top: 50px;
      padding-left: 50px;
      color: var(--background-color);

      h3 {
        color: var(--background-color);
      }

      .services-footer {
        width: 30%;

        a {
          color: var(--background-color);
          padding-top: 10px;
          margin: 0;
        }

        a:hover {
          color: var(--accent-color);
          padding-left: 5px;
        }
      }

      .contact-footer {
        width: 50%;

        p {
          padding-top: 10px;
          margin: 0;

          a {
            color: var(--background-color);
            padding-left: 5px;
          }

          a:hover {
            color: var(--accent-color);
            padding-left: 10px;
          }
        }
      }
    }

    .logo-footer {
      height: 100px;
      width: auto;
      margin-top: 30px;
      padding-left: 50px;
    }
  }

  .footer-right {
    width: 50vw;
    padding: 0;
    margin: 0;
  }

  .community-newsletter {
    height: 65%;
    margin: 0;
    padding: 90px 60px 0 90px;
    color: var(--background-color);

    h3 {
      color: var(--background-color);
      padding-bottom: 40px;
      font-family: 'bree serif', sans-serif;
      font-size: 30px;
    }

    form {
      input {
        border-radius: 50px;
        padding: 20px 10px 20px 20px;
        border: none;
        font-family: 'montserrat', sans-serif;
        font-size: 14px;
        margin-bottom: 30px;
      }

      button {
        width: 50%;
        padding: 10px;
        border-radius: 50px;
        border: none;
        background-color: #14181C;
        color: var(--background-color);
      }
    }
  }

  .cta-footer {
    background: var(--background-color);
    height: 35%;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;

    .cta-content {
      gap: 80px;
      align-items: center;

      h3 {
        color: #14181C;
        font-family: 'bree serif', sans-serif;
        font-size: 24px;
      }

      a {
        padding: 5px 40px 5px 40px;
        background-color: var(--accent-color);
        border-radius: 50px;
        height: 50px;
        margin: 0;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        color: var(--background-color);
      }
    }
  }
}